#mytext1{
	color: green;
	border: 1px solid black;
}
#mytext2{
	color: red;
	
border: 1px solid black;
}
#mytext3{
color: red;
border: 1px solid black;
}
#mytext4{
	color: green;
	border: 1px solid black;
}
